<!DOCTYPE html>
<html lang="hi">

<head>
    <link rel="shortcut icon" type="image/png" href="images/g.png">
    <title>Tweet Inspector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="project site">
    <meta name="author" content="Gagan Talreja">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" href="style.css">-->
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<style>
    .main-head {
        padding-top: 30px;
        font-size: 70px;
        font-family: 'Raleway';
    }

    .form-group {
        padding-top: 20px;
        font-family: 'Raleway';
    }


    h5 {
        padding-top: 10px;
        font-family: 'Raleway';
    }

    /*
    .text-form {
        padding-left: 90px;
        padding-right: 40px;
    }

    .file-form {
        padding-left: 40px;
        padding-right: 90px;
    }
*/


    .text-muted {
        color: red;
    }

    .table-div {
        
        padding-top: 60px;
        /*        padding-bottom: 60px;*/
        font-family: 'Raleway';
    }

    .result-head {
        font-family: 'Raleway';
    }

    @media screen and (max-width: 600px) {

        .text-form {
            padding: none;
        }

        .file-form {
            padding: none;
        }

    }

</style>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="main-head">SentiMix</h1>
            <h5><strong>A PROGRAM THAT CAN BE USED TO ANALYZE TH SENTIMENT OF A GIVEN TWEET IN CODE-MIXED LANGUAGE (HINGLISH).</strong></h5>
        </div>
        <div class="row">
            <div class="col-sm-6 text-form">
                <form method="post" action="/input">
                    <div class="form-group">
                        <label for="text-box">TEXT INPUT</label>
                        <input type="text" name="text" class="form-control" id="text-box" aria-describedby="label-text" placeholder="Enter Hindi tweet">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-primary frm-btn">GET RESULTS</button>
                </form>
            </div>
            <div class="col-sm-6 file-form">
                <form method="post" action="/file" enctype="multipart/form-data">
                    <div class="form-group file-input">
                        <label for="file-input-json">EXCEL FILE INPUT</label>
                        <input type="file" name="file" class="form-control" id="file-input-xlsx">
                    </div>
                    <button type="submit" class="btn btn-primary frm-btn">GET RESULTS</button>
                </form>
            </div>
        </div>
        <div class="table-div">
            <h1 class="result-head">Prediction Results</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tweet</th>
                        <th scope="col">Test Value</th>
                        <th scope="col">Predicted Value</th>
                    </tr>
                </thead>
                {% if data == None%}
                <tbody>
                    <td colspan="9">
                        <h3 style="color: red;">No results have been generated yet!</h3>
                    </td>
                </tbody>
                {% else %}
                <tbody>
                    {% for k, v in data.items() %}
                    <tr>
                        <th scope="row">{{ k }}</th>
                        <td>{{ v['text'] }}</td>
                        <td>
                            {% if v['value'] == '1' %}
                            <span style="color: darkgreen;"><strong>Positive</strong></span>
                            {% elif v['value'] == '0' %}
                            <span style="color: darkblue;"><strong>Neutral</strong></span>
                            {% else %}
                            <span style="color: red;"><strong>Negative</strong></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if v['pos'] > v['neg'] %}
                            <span style="color: darkgreen;"><strong>Positive</strong></span>
                            {% elif v['pos'] == v['neg'] %}
                            <span style="color: darkblue;"><strong>Neutral</strong></span>
                            {% else %}
                            <span style="color: red;"><strong>Negative</strong></span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>

</html>
